body {
    margin: 0;
    padding: 0;
    font-family: Red Hat Display;
    font-size: 14px;
    color: brown;
    background-image:;

    
}
.sam {
    margin: 3px;
    padding: 5px;
    border: 2px solid white;
    background-color:  red;
    color: white;
    text-align: center;
    width: 380px;
    box-sizing: border-box;
    height: 160px;
    left: 0px;
    top: 344;
    position: relative;
}

.veg {
    margin: 3px;
    padding: 5px;
    border: 2px solid white;
    background-color:  red;
    color: white;
    text-align: center;
    width: 380px;
    box-sizing: border-box;
    height: 160px;
    left: 370px;
    top: 346px;
    position: absolute;
}
 .lyd {
    margin: 3px;
    padding: 5px;
    border: 2px solid white;
    background-color:  red;
    color: white;
    text-align: center;
    width: 380px;
    box-sizing: border-box;
    height: 160px;
    left: 740px;
    top: 346px;
    position: absolute;

}
.sta {
    margin: 3px;
    padding: 5px;
    border: 2px solid white;
    background-color:  red;
    color: white;
    text-align: center;
    width: 380px;
    box-sizing: border-box;
    height: 160px;
   
}
 .karp {
    margin: 3px;
    padding: 5px;
    border: 2px solid white;
    background-color:  red;
    color: white;
    text-align: center;
    width: 380px;
    box-sizing: border-box;
    height: 160px;
    left: 370px;
    top: 510px;
    position: absolute;
   
}
 .kar {
    margin: 3px;
    padding: 5px;
    border: 2px solid white;
    background-color:  red;
    color: white;
    text-align: center;
    width: 380px;
    box-sizing: border-box;
    height: 160px;
    left: 740px;
    top: 510px;
    position: absolute;

}
.container{
    border: 2px solid white;
}