h1,h2{
    text-align:left;
    color: brown;
    font-weight: 400px;
    font-family: 'Red Hat Display';
}



div{
    text-align:left;
    color: black;
    font-weight: 300px;
    font-family: 'Red Hat Display';
   
}
td{
    text-align:left;
    color: black;
    font-weight: 300px;
    font-family: 'Red Hat Display';
    background-color: brown; 
}




