body {
  margin: 0;
  padding: 0;
  border: 1px solid black;
  width: 1510px;
  height: 921px;
  background-color: wheat;
}
.flex-container1 {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  border: 1px solid black;
  width: 1510px;
  height: 50px;
  background-color:green;
}
.flex-container2 {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  /* border: 1px solid black; */
  width: 1510px;
  height: 100px;
  background-color:green;
}

.flex-item {
  margin: 6px;
  padding: 12px;
  border: 1px solid black;
  width: 100px;
  height: 15px;
  border-radius: 50px;
  background-color: white;
  font-family: monospace;
  font-size: 12px;
  font-weight: 400;
  text-align: center;
}






/* .wrapper {
    display: flex;  
    flex-flow: row wrap;
    font-weight: bold;
    text-align: center; 
  }
  
  .wrapper > * {
    padding: 10px;
    flex: 1 100%;
  }
  
  .header {
    background: tomato;
  }
  
  .footer {
    background: lightgreen;
  }
  
  .main {
    text-align: left;
    background: deepskyblue;
  }
  
  .aside-1 {
    background: gold;
  }
  
  .aside-2 {
    background: hotpink;
  }
  
  @media all and (min-width: 600px) {
    .aside { flex: 1 0 0; }
  }
  
  @media all and (min-width: 800px) {
    .main    { flex: 3 0px; }
    .aside-1 { order: 1; } 
    .main    { order: 2; }
    .aside-2 { order: 3; }
    .footer  { order: 4; }
  }
  
  body {
    padding: 2em;  */